[defaults]
ask_vault_pass = True
inventory = ansible.hosts

[ssh_connection]
pipelining = True
ssh_args=-o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=15m -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
